.education-wrapper{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 10px 25px;
    flex-wrap: wrap;
}

.img-carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


.img-carousel img {
  width: 100%;
  height: auto;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}

.img-carousel img.show {
  opacity: 1;
  position: static; 
  z-index: 1;
  pointer-events: auto;
}

.education-text {
    max-width: 700px;
}

span {
    font-weight: bold;
}
.education h1 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5rem;
}

.courses {
    margin-top: 100px;
}

.tabs {
    text-align: center;
}

.tab {
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    transition: all 0.2s ease;
    background-color: rgba(0, 40, 60, 0.85);
    color: #00c9ff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-inline: 10px;
}

.tab:hover{
    background-color: rgba(0, 201, 255, 0.2);
}

.tab-content {
    max-width: 800px;
    padding: 20px;
    margin: 40px auto;
    background-color: rgba(0, 40, 60, 0.85);
    border-radius: 25px;
    border:2px solid #00c9ff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

}
.tab-content h2 {
    text-align: center;
    font-weight: 400;
}
.course-description {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: flex-start;
}

.course-description > p {
    flex: 1 1 300px;
    max-width: 600px;
}

.topic-container {
    flex: 1 1 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 40px;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

.topic-container article {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 8px;
    box-sizing: border-box;
    gap: 12px;
}

.article-img-container {
    flex: 0 0 auto;        
    display: flex;
    align-items: center;
    justify-content: center;
}


.article-img-container img {
    width: 100%;
    max-width: 24px;
    aspect-ratio: 1 / 1;
    display: block;
    object-fit: contain;
}


.topic-container article p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    font-weight: bold;
}

.description-pic {
    display: flex;
    justify-content: center;
}

.description-pic img {
    max-width: 400px;
}

.tab-content {
  overflow: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease, max-height 0.4s ease;
  width: 100%;
}

.tab-content.visible {
  opacity: 1;
  visibility: visible;
  max-height: 5000px;
  position: static;
}

.tab-content.hidden {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  position: absolute;
}

.tab.active {
    background-color:#00c9ff;
    color: rgba(0, 40, 60, 0.85);
}
